##Pandas Installation

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas

--->To Know The Version

In [3]:
print(pandas.__version__)

2.2.2

---> How To Upload a DataSet

In [4]:
from google.colab import files

uploaded = files.upload()

Saving insurance.csv to insurance.csv

In [5]:
import pandas as pd
data=pd.read_csv("insurance.csv")

---> Print The Dataset

In [6]:
df=pd.DataFrame(data)
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

---> df.head().......display first 5 records

--->df.head(2)......display first 2 records

In [7]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

---> df.tail()........prints last 5 records

In [8]:
df.tail()

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

---> df.describe().......display the statistical information about the Attributes

In [9]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

---> df.shape......display the no.of rows and columns

In [10]:
df.shape

(1338, 7)

---> df[start:stop:diff]

In [11]:
df.iloc[0:30:1]

    age     sex     bmi  children smoker     region      charges
0    19  female  27.900         0    yes  southwest  16884.92400
1    18    male  33.770         1     no  southeast   1725.55230
2    28    male  33.000         3     no  southeast   4449.46200
3    33    male  22.705         0     no  northwest  21984.47061
4    32    male  28.880         0     no  northwest   3866.85520
5    31  female  25.740         0     no  southeast   3756.62160
6    46  female  33.440         1     no  southeast   8240.58960
7    37  female  27.740         3     no  northwest   7281.50560
8    37    male  29.830         2     no  northeast   6406.41070
9    60  female  25.840         0     no  northwest  28923.13692
10   25    male  26.220         0     no  northeast   2721.32080
11   62  female  26.290         0    yes  southeast  27808.72510
12   23    male  34.400         0     no  southwest   1826.84300
13   56  female  39.820         0     no  southeast  11090.71780
14   27    male  42.130         0    yes  southeast  39611.75770
15   19    male  24.600         1     no  southwest   1837.23700
16   52  female  30.780         1     no  northeast  10797.33620
17   23    male  23.845         0     no  northeast   2395.17155
18   56    male  40.300         0     no  southwest  10602.38500
19   30    male  35.300         0    yes  southwest  36837.46700
20   60  female  36.005         0     no  northeast  13228.84695
21   30  female  32.400         1     no  southwest   4149.73600
22   18    male  34.100         0     no  southeast   1137.01100
23   34  female  31.920         1    yes  northeast  37701.87680
24   37    male  28.025         2     no  northwest   6203.90175
25   59  female  27.720         3     no  southeast  14001.13380
26   63  female  23.085         0     no  northeast  14451.83515
27   55  female  32.775         2     no  northwest  12268.63225
28   23    male  17.385         1     no  northwest   2775.19215
29   31    male  36.300         2    yes  southwest  38711.00000

----> To Display a Single Column

In [12]:
df["bmi"]

0       27.900
1       33.770
2       33.000
3       22.705
4       28.880
         ...
1333    30.970
1334    31.920
1335    36.850
1336    25.800
1337    29.070
Name: bmi, Length: 1338, dtype: float64

In [13]:
df[["bmi","age"]]

         bmi  age
0     27.900   19
1     33.770   18
2     33.000   28
3     22.705   33
4     28.880   32
...      ...  ...
1333  30.970   50
1334  31.920   18
1335  36.850   18
1336  25.800   21
1337  29.070   61

[1338 rows x 2 columns]

---> Display Column Using Some Sequence

In [14]:
df[["bmi","age"]][1:10:2]

      bmi  age
1  33.770   18
3  22.705   33
5  25.740   31
7  27.740   37
9  25.840   60

---> Display the complete information of persons one by one

In [15]:
for index, rec in df.iterrows():
  print(rec)

Streaming output truncated to the last 5000 lines.
age                20
sex              male
bmi             40.47
children            0
smoker             no
region      northeast
charges     1984.4533
Name: 713, dtype: object
age                24
sex            female
bmi              22.6
children            0
smoker             no
region      southwest
charges      2457.502
Name: 714, dtype: object
age                60
sex              male
bmi              28.9
children            0
smoker             no
region      southwest
charges     12146.971
Name: 715, dtype: object
age                49
sex            female
bmi             22.61
children            1
smoker             no
region      northwest
charges     9566.9909
Name: 716, dtype: object
age                 60
sex               male
bmi              24.32
children             1
smoker              no
region       northwest
charges     13112.6048
Name: 717, dtype: object
age                 51
sex             female
bmi              36.67
children             2
smoker              no
region       northwest
charges     10848.1343
Name: 718, dtype: object
age                 58
sex             female
bmi              33.44
children             0
smoker              no
region       northwest
charges     12231.6136
Name: 719, dtype: object
age                51
sex            female
bmi             40.66
children            0
smoker             no
region      northeast
charges     9875.6804
Name: 720, dtype: object
age                53
sex              male
bmi              36.6
children            3
smoker             no
region      southwest
charges     11264.541
Name: 721, dtype: object
age                62
sex              male
bmi              37.4
children            0
smoker             no
region      southwest
charges     12979.358
Name: 722, dtype: object
age                19
sex              male
bmi              35.4
children            0
smoker             no
region      southwest
charges      1263.249
Name: 723, dtype: object
age                  50
sex              female
bmi              27.075
children              1
smoker               no
region        northeast
charges     10106.13425
Name: 724, dtype: object
age                 30
sex             female
bmi              39.05
children             3
smoker             yes
region       southeast
charges     40932.4295
Name: 725, dtype: object
age                 41
sex               male
bmi             28.405
children             1
smoker              no
region       northwest
charges     6664.68595
Name: 726, dtype: object
age                  29
sex              female
bmi              21.755
children              1
smoker              yes
region        northeast
charges     16657.71745
Name: 727, dtype: object
age                18
sex            female
bmi             40.28
children            0
smoker             no
region      northeast
charges     2217.6012
Name: 728, dtype: object
age                41
sex            female
bmi             36.08
children            1
smoker             no
region      southeast
charges     6781.3542
Name: 729, dtype: object
age                 35
sex               male
bmi              24.42
children             3
smoker             yes
region       southeast
charges     19361.9988
Name: 730, dtype: object
age                53
sex              male
bmi              21.4
children            1
smoker             no
region      southwest
charges     10065.413
Name: 731, dtype: object
age                24
sex            female
bmi              30.1
children            3
smoker             no
region      southwest
charges      4234.927
Name: 732, dtype: object
age                 48
sex             female
bmi             27.265
children             1
smoker              no
region       northeast
charges     9447.25035
Name: 733, dtype: object
age                59
sex            female
bmi              32.1
children            3
smoker             no
region      southwest
charges     14007.222
Name: 734, dtype: object
age                49
sex            female
bmi             34.77
children            1
smoker             no
region      northwest
charges     9583.8933
Name: 735, dtype: object
age                 37
sex             female
bmi              38.39
children             0
smoker             yes
region       southeast
charges     40419.0191
Name: 736, dtype: object
age                26
sex              male
bmi              23.7
children            2
smoker             no
region      southwest
charges      3484.331
Name: 737, dtype: object
age                 23
sex               male
bmi              31.73
children             3
smoker             yes
region       northeast
charges     36189.1017
Name: 738, dtype: object
age                  29
sex                male
bmi                35.5
children              2
smoker              yes
region        southwest
charges     44585.45587
Name: 739, dtype: object
age                 45
sex               male
bmi             24.035
children             2
smoker              no
region       northeast
charges     8604.48365
Name: 740, dtype: object
age                 27
sex               male
bmi              29.15
children             0
smoker             yes
region       southeast
charges     18246.4955
Name: 741, dtype: object
age                  53
sex                male
bmi              34.105
children              0
smoker              yes
region        northeast
charges     43254.41795
Name: 742, dtype: object
age                31
sex            female
bmi             26.62
children            0
smoker             no
region      southeast
charges     3757.8448
Name: 743, dtype: object
age                50
sex              male
bmi             26.41
children            0
smoker             no
region      northwest
charges     8827.2099
Name: 744, dtype: object
age                 50
sex             female
bmi             30.115
children             1
smoker              no
region       northwest
charges     9910.35985
Name: 745, dtype: object
age                  34
sex                male
bmi                27.0
children              2
smoker               no
region        southwest
charges     11737.84884
Name: 746, dtype: object
age                 19
sex               male
bmi             21.755
children             0
smoker              no
region       northwest
charges     1627.28245
Name: 747, dtype: object
age                47
sex            female
bmi              36.0
children            1
smoker             no
region      southwest
charges      8556.907
Name: 748, dtype: object
age                 28
sex               male
bmi             30.875
children             0
smoker              no
region       northwest
charges     3062.50825
Name: 749, dtype: object
age                37
sex            female
bmi              26.4
children            0
smoker            yes
region      southeast
charges     19539.243
Name: 750, dtype: object
age                 21
sex               male
bmi             28.975
children             0
smoker              no
region       northwest
charges     1906.35825
Name: 751, dtype: object
age                  64
sex                male
bmi              37.905
children              0
smoker               no
region        northwest
charges     14210.53595
Name: 752, dtype: object
age                 58
sex             female
bmi              22.77
children             0
smoker              no
region       southeast
charges     11833.7823
Name: 753, dtype: object
age                  24
sex                male
bmi               33.63
children              4
smoker               no
region        northeast
charges     17128.42608
Name: 754, dtype: object
age                 31
sex               male
bmi             27.645
children             2
smoker              no
region       northeast
charges     5031.26955
Name: 755, dtype: object
age                39
sex            female
bmi              22.8
children            3
smoker             no
region      northeast
charges      7985.815
Name: 756, dtype: object
age                 47
sex             female
bmi              27.83
children             0
smoker             yes
region       southeast
charges     23065.4207
Name: 757, dtype: object
age                30
sex              male
bmi             37.43
children            3
smoker             no
region      northeast
charges     5428.7277
Name: 758, dtype: object
age                 18
sex               male
bmi              38.17
children             0
smoker             yes
region       southeast
charges     36307.7983
Name: 759, dtype: object
age                22
sex            female
bmi             34.58
children            2
smoker             no
region      northeast
charges     3925.7582
Name: 760, dtype: object
age                23
sex              male
bmi              35.2
children            1
smoker             no
region      southwest
charges      2416.955
Name: 761, dtype: object
age                33
sex              male
bmi              27.1
children            1
smoker            yes
region      southwest
charges     19040.876
Name: 762, dtype: object
age                27
sex              male
bmi             26.03
children            0
smoker             no
region      northeast
charges     3070.8087
Name: 763, dtype: object
age                 45
sex             female
bmi             25.175
children             2
smoker              no
region       northeast
charges     9095.06825
Name: 764, dtype: object
age                  57
sex              female
bmi              31.825
children              0
smoker               no
region        northwest
charges     11842.62375
Name: 765, dtype: object
age                47
sex              male
bmi              32.3
children            1
smoker             no
region      southwest
charges      8062.764
Name: 766, dtype: object
age                42
sex            female
bmi              29.0
children            1
smoker             no
region      southwest
charges      7050.642
Name: 767, dtype: object
age                64
sex            female
bmi              39.7
children            0
smoker             no
region      southwest
charges     14319.031
Name: 768, dtype: object
age                 38
sex             female
bmi             19.475
children             2
smoker              no
region       northwest
charges     6933.24225
Name: 769, dtype: object
age                  61
sex                male
bmi                36.1
children              3
smoker               no
region        southwest
charges     27941.28758
Name: 770, dtype: object
age                53
sex            female
bmi              26.7
children            2
smoker             no
region      southwest
charges      11150.78
Name: 771, dtype: object
age                  44
sex              female
bmi               36.48
children              0
smoker               no
region        northeast
charges     12797.20962
Name: 772, dtype: object
age                 19
sex             female
bmi              28.88
children             0
smoker             yes
region       northwest
charges     17748.5062
Name: 773, dtype: object
age                41
sex              male
bmi              34.2
children            2
smoker             no
region      northwest
charges      7261.741
Name: 774, dtype: object
age                 51
sex               male
bmi              33.33
children             3
smoker              no
region       southeast
charges     10560.4917
Name: 775, dtype: object
age                40
sex              male
bmi              32.3
children            2
smoker             no
region      northwest
charges      6986.697
Name: 776, dtype: object
age                 45
sex               male
bmi             39.805
children             0
smoker              no
region       northeast
charges     7448.40395
Name: 777, dtype: object
age                35
sex              male
bmi             34.32
children            3
smoker             no
region      southeast
charges     5934.3798
Name: 778, dtype: object
age                53
sex              male
bmi             28.88
children            0
smoker             no
region      northwest
charges     9869.8102
Name: 779, dtype: object
age                30
sex              male
bmi              24.4
children            3
smoker            yes
region      southwest
charges     18259.216
Name: 780, dtype: object
age                18
sex              male
bmi             41.14
children            0
smoker             no
region      southeast
charges     1146.7966
Name: 781, dtype: object
age                51
sex              male
bmi             35.97
children            1
smoker             no
region      southeast
charges     9386.1613
Name: 782, dtype: object
age                50
sex            female
bmi              27.6
children            1
smoker            yes
region      southwest
charges     24520.264
Name: 783, dtype: object
age                31
sex            female
bmi             29.26
children            1
smoker             no
region      southeast
charges     4350.5144
Name: 784, dtype: object
age                35
sex            female
bmi              27.7
children            3
smoker             no
region      southwest
charges      6414.178
Name: 785, dtype: object
age                  60
sex                male
bmi              36.955
children              0
smoker               no
region        northeast
charges     12741.16745
Name: 786, dtype: object
age                21
sex              male
bmi             36.86
children            0
smoker             no
region      northwest
charges     1917.3184
Name: 787, dtype: object
age                 29
sex               male
bmi             22.515
children             3
smoker              no
region       northeast
charges     5209.57885
Name: 788, dtype: object
age                 62
sex             female
bmi              29.92
children             0
smoker              no
region       southeast
charges     13457.9608
Name: 789, dtype: object
age                39
sex            female
bmi              41.8
children            0
smoker             no
region      southeast
charges      5662.225
Name: 790, dtype: object
age                19
sex              male
bmi              27.6
children            0
smoker             no
region      southwest
charges      1252.407
Name: 791, dtype: object
age                22
sex            female
bmi             23.18
children            0
smoker             no
region      northeast
charges     2731.9122
Name: 792, dtype: object
age                53
sex              male
bmi              20.9
children            0
smoker            yes
region      southeast
charges     21195.818
Name: 793, dtype: object
age                39
sex            female
bmi             31.92
children            2
smoker             no
region      northwest
charges     7209.4918
Name: 794, dtype: object
age                27
sex              male
bmi              28.5
children            0
smoker            yes
region      northwest
charges     18310.742
Name: 795, dtype: object
age                30
sex              male
bmi             44.22
children            2
smoker             no
region      southeast
charges     4266.1658
Name: 796, dtype: object
age                 30
sex             female
bmi             22.895
children             1
smoker              no
region       northeast
charges     4719.52405
Name: 797, dtype: object
age                58
sex            female
bmi              33.1
children            0
smoker             no
region      southwest
charges     11848.141
Name: 798, dtype: object
age                  33
sex                male
bmi              24.795
children              0
smoker              yes
region        northeast
charges     17904.52705
Name: 799, dtype: object
age                42
sex            female
bmi             26.18
children            1
smoker             no
region      southeast
charges     7046.7222
Name: 800, dtype: object
age                 64
sex             female
bmi              35.97
children             0
smoker              no
region       southeast
charges     14313.8463
Name: 801, dtype: object
age                21
sex              male
bmi              22.3
children            1
smoker             no
region      southwest
charges       2103.08
Name: 802, dtype: object
age                 18
sex             female
bmi              42.24
children             0
smoker             yes
region       southeast
charges     38792.6856
Name: 803, dtype: object
age                23
sex              male
bmi             26.51
children            0
smoker             no
region      southeast
charges     1815.8759
Name: 804, dtype: object
age                 45
sex             female
bmi             35.815
children             0
smoker              no
region       northwest
charges     7731.85785
Name: 805, dtype: object
age                  40
sex              female
bmi               41.42
children              1
smoker               no
region        northwest
charges     28476.73499
Name: 806, dtype: object
age                 19
sex             female
bmi             36.575
children             0
smoker              no
region       northwest
charges     2136.88225
Name: 807, dtype: object
age                18
sex              male
bmi             30.14
children            0
smoker             no
region      southeast
charges     1131.5066
Name: 808, dtype: object
age                25
sex              male
bmi             25.84
children            1
smoker             no
region      northeast
charges     3309.7926
Name: 809, dtype: object
age                46
sex            female
bmi              30.8
children            3
smoker             no
region      southwest
charges       9414.92
Name: 810, dtype: object
age                33
sex            female
bmi             42.94
children            3
smoker             no
region      northwest
charges     6360.9936
Name: 811, dtype: object
age                 54
sex               male
bmi              21.01
children             2
smoker              no
region       southeast
charges     11013.7119
Name: 812, dtype: object
age                 28
sex               male
bmi             22.515
children             2
smoker              no
region       northeast
charges     4428.88785
Name: 813, dtype: object
age                36
sex              male
bmi             34.43
children            2
smoker             no
region      southeast
charges     5584.3057
Name: 814, dtype: object
age                20
sex            female
bmi             31.46
children            0
smoker             no
region      southeast
charges     1877.9294
Name: 815, dtype: object
age                 24
sex             female
bmi             24.225
children             0
smoker              no
region       northwest
charges     2842.76075
Name: 816, dtype: object
age                23
sex              male
bmi              37.1
children            3
smoker             no
region      southwest
charges      3597.596
Name: 817, dtype: object
age                  47
sex              female
bmi              26.125
children              1
smoker              yes
region        northeast
charges     23401.30575
Name: 818, dtype: object
age                  33
sex              female
bmi               35.53
children              0
smoker              yes
region        northwest
charges     55135.40209
Name: 819, dtype: object
age                45
sex              male
bmi              33.7
children            1
smoker             no
region      southwest
charges      7445.918
Name: 820, dtype: object
age                26
sex              male
bmi             17.67
children            0
smoker             no
region      northwest
charges     2680.9493

In [16]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

Deleting Records in Dataset

In [17]:
data_clean=df.dropna()

In [18]:
data_clean=df.dropna(axis=1)

Filling the empty cell with the Mean value of that Record

In [19]:
df["age"]=df["age"].fillna(df["age"].mean())

In [20]:
df[df["age"]>30]

      age     sex     bmi  children smoker     region      charges
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
5      31  female  25.740         0     no  southeast   3756.62160
6      46  female  33.440         1     no  southeast   8240.58960
7      37  female  27.740         3     no  northwest   7281.50560
...   ...     ...     ...       ...    ...        ...          ...
1329   52    male  38.600         2     no  southwest  10325.20600
1330   57  female  25.740         2     no  southeast  12629.16560
1332   52  female  44.700         3     no  southwest  11411.68500
1333   50    male  30.970         3     no  northwest  10600.54830
1337   61  female  29.070         0    yes  northwest  29141.36030

[894 rows x 7 columns]

In [21]:
df[df["bmi"]<20]

      age     sex     bmi  children smoker     region      charges
28     23    male  17.385         1     no  northwest   2775.19215
98     56    male  19.950         0    yes  northeast  22412.64850
99     38    male  19.300         0    yes  southwest  15820.69900
128    32  female  17.765         2    yes  northwest  32734.18630
169    27    male  18.905         3     no  northeast   4827.90495
172    18    male  15.960         0     no  northeast   1694.79640
182    22    male  19.950         3     no  northeast   4005.42250
198    51  female  18.050         0     no  northwest   9644.25250
232    19  female  17.800         0     no  southwest   1727.78500
250    18    male  17.290         2    yes  northeast  12829.45510
266    40    male  19.800         1    yes  southeast  17179.52200
380    27  female  17.955         2    yes  northeast  15006.57945
395    46    male  19.855         0     no  northwest   7526.70645
410    19    male  17.480         0     no  northwest   1621.34020
412    26  female  17.195         2    yes  northeast  14455.64405
428    21  female  16.815         1     no  northeast   3167.45585
560    46  female  19.950         2     no  northwest   9193.83850
591    47    male  19.570         1     no  northwest   8428.06930
613    34  female  19.000         3     no  northeast   6753.03800
680    21  female  17.400         1     no  southwest   2585.26900
684    33  female  18.500         1     no  southwest   4766.02200
769    38  female  19.475         2     no  northwest   6933.24225
821    26    male  17.670         0     no  northwest   2680.94930
863    36  female  19.855         0     no  northeast   5458.04645
950    57    male  18.335         0     no  northeast  11534.87265
990    26  female  19.800         1     no  southwest   3378.91000
1004   47    male  19.190         1     no  northeast   8627.54110
1027   23    male  18.715         0     no  northwest  21595.38229
1029   37  female  17.290         2     no  northeast   6877.98010
1074   60  female  18.335         0     no  northeast  13204.28565
1082   38    male  19.950         1     no  northwest   5855.90250
1085   39  female  18.300         5    yes  southwest  19023.26000
1100   33  female  19.095         2    yes  northeast  16776.30405
1119   30  female  19.950         3     no  northwest   5693.43050
1129   19  female  18.600         0     no  southwest   1728.89700
1133   52  female  18.335         0     no  northwest   9991.03765
1205   35    male  17.860         1     no  northwest   5116.50040
1226   38    male  16.815         2     no  northeast   6640.54485
1251   19    male  19.800         0     no  southwest   1241.56500
1286   28  female  17.290         0     no  northeast   3732.62510
1290   38  female  19.950         2     no  northeast   7133.90250

##Converting Pandas-Polars

you can perform all above  Basic Statistics using Polars

In [22]:
import polars as pl
df_pl=pl.from_pandas(df)

In [23]:
print(type(df_pl))

<class 'polars.dataframe.frame.DataFrame'>

In [24]:
print(df_pl.shape)

(1338, 7)

In [25]:
df_pl.null_count

<bound method DataFrame.null_count of shape: (1_338, 7)
â”Œâ”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¬â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ age â”† sex    â”† bmi    â”† children â”† smoker â”† region    â”† charges     â”‚
â”‚ --- â”† ---    â”† ---    â”† ---      â”† ---    â”† ---       â”† ---         â”‚
â”‚ i64 â”† str    â”† f64    â”† i64      â”† str    â”† str       â”† f64         â”‚
â•žâ•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•ªâ•â•â•â•â•â•â•â•â•â•â•â•â•â•¡
â”‚ 19  â”† female â”† 27.9   â”† 0        â”† yes    â”† southwest â”† 16884.924   â”‚
â”‚ 18  â”† male   â”† 33.77  â”† 1        â”† no     â”† southeast â”† 1725.5523   â”‚
â”‚ 28  â”† male   â”† 33.0   â”† 3        â”† no     â”† southeast â”† 4449.462    â”‚
â”‚ 33  â”† male   â”† 22.705 â”† 0        â”† no     â”† northwest â”† 21984.47061 â”‚
â”‚ 32  â”† male   â”† 28.88  â”† 0        â”† no     â”† northwest â”† 3866.8552   â”‚
â”‚ â€¦   â”† â€¦      â”† â€¦      â”† â€¦        â”† â€¦      â”† â€¦         â”† â€¦           â”‚
â”‚ 50  â”† male   â”† 30.97  â”† 3        â”† no     â”† northwest â”† 10600.5483  â”‚
â”‚ 18  â”† female â”† 31.92  â”† 0        â”† no     â”† northeast â”† 2205.9808   â”‚
â”‚ 18  â”† female â”† 36.85  â”† 0        â”† no     â”† southeast â”† 1629.8335   â”‚
â”‚ 21  â”† female â”† 25.8   â”† 0        â”† no     â”† southwest â”† 2007.945    â”‚
â”‚ 61  â”† female â”† 29.07  â”† 0        â”† yes    â”† northwest â”† 29141.3603  â”‚
â””â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜>

##Automatically generate a professional Word document (.docx)

In [26]:
pip install python-docx

Collecting python-docx
  Downloading python_docx-1.2.0-py3-none-any.whl.metadata (2.0 kB)
Requirement already satisfied: lxml>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from python-docx) (6.0.2)
Requirement already satisfied: typing_extensions>=4.9.0 in /usr/local/lib/python3.12/dist-packages (from python-docx) (4.15.0)
Downloading python_docx-1.2.0-py3-none-any.whl (252 kB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 253.0/253.0 kB 13.9 MB/s eta 0:00:00
Installing collected packages: python-docx
Successfully installed python-docx-1.2.0

In [27]:
import polars as pl
from docx import Document
from datetime import datetime

In [28]:
df = pl.read_csv("insurance.csv")

###What Your Word Document Must Contain

Project Title

Dataset Description

Number of Rows & Columns

Column Names & Data Types

Missing Values Summary

Basic Statistics

Date of Report

In [29]:
document = Document()
document.add_heading("Data Documentation Report", level=1)
document.add_paragraph(f"Report Generated On: {datetime.now()}")
document.add_heading("1. Dataset Overview", level=2)
document.add_paragraph(f"Number of Rows: {df.shape[0]}")
document.add_paragraph(f"Number of Columns: {df.shape[1]}")
document.add_heading("2. Column Details", level=2)

table = document.add_table(rows=1, cols=2)
table.rows[0].cells[0].text = "Column Name"
table.rows[0].cells[1].text = "Data Type"
for col, dtype in df.schema.items():
    row = table.add_row().cells
    row[0].text = col
    row[1].text = str(dtype)
document.add_heading("3. Missing Values Summary", level=2)

null_counts = df.null_count()
for col in df.columns:
    document.add_paragraph(f"{col}: {null_counts[col][0]} missing values")
document.add_heading("4. Basic Statistics", level=2)

stats = df.describe().to_pandas()

stats_table = document.add_table(rows=stats.shape[0]+1, cols=stats.shape[1
                                                                         ])
for j, column in enumerate(stats.columns):
    stats_table.rows[0].cells[j].text = column

# Add data
for i in range(stats.shape[0]):
    for j in range(stats.shape[1]):
        stats_table.rows[i+1].cells[j].text = str(stats.iloc[i, j])
        document.save("Data_Documentation_Report.docx")

print("Word document generated successfully!")

Word document generated successfully!

--->After generating the Word file using

In [30]:
document.save("Data_Documentation_Report.docx")

--->It will download to your system

In [31]:
from google.colab import files
files.download("Data_Documentation_Report.docx")